
<div class="row justify-content-center bd-highlight">
    <div class="col-6 col-lg-6 d-flex mx-5" id="linkedin-footer">
      <h1><%= link_to 'Linkedin','www.linkedin.com/in/zeinabwarsama', target: '_blank'%>
      <button><%= image_tag "arrow.jpeg", class: "", alt: "arrow", width: "30px", height: "30px" %></button></h1>
    <div class="col-6 col-lg-6 d-flex mx-5" id="email-footer">
      <h1><%= link_to 'Email','', target: '_blank'%>
      <button><%= image_tag "arrow.jpeg", class: "", alt: "arrow", width: "30px", height: "30px" %></button></h1>
    <div class="col-6 col-lg-6 d-flex mx-5" id="github-footer">
      <h1><%= link_to 'Github','https://github.com/zeinaaabbb', target: '_blank'%>
      <button><%= image_tag "arrow.jpeg", class: "", alt: "arrow", width: "30px", height: "30px" %></button></h1>
</div>
