
<div class="row" id="connect-section">
    <div class="d-flex footer justify-content-center" id="social-footer">
      <button id="linkedin" class="d-flex justify-content-center my-3">
        <h4><%= link_to 'Linkedin','https://www.linkedin.com/in/zeinabwarsama/', class:"social-link" , target: '_blank'%></h4>
        <%= image_tag "arrow.jpeg", class: "arrow-footer", alt:"..." %>
      </button>
      <button id="email" class="d-flex justify-content-center my-3">
        <h4><%= link_to 'Email','', target: '_blank', class:"social-link" %></h4>
        <%= image_tag "arrow.jpeg", class: "arrow-footer", alt:"..." %>
        </button>
      <button id="github" class="d-flex justify-content-center my-3">
        <h4><%= link_to 'Github','https://github.com/zeinaaabbb', target: '_blank', class:"social-link" %></h4>
        <%= image_tag "arrow.jpeg", class: "arrow-footer", alt:"..." %>
        </button>
</div>
</div>
