<div class="project-card py-4 mt-3">
  <div class="d-flex bd-highlight">
    <div class="text-center flex-grow-1 bd-highlight">
      <h3>02. VenueBookr</h3>
    </div>
  </div>

  <div id="carouselProjectCard2" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "league2.jpeg", class: "image-vb-project-tag d-block w-75 mx-auto", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "league2.jpeg", class: "image-vb-project-tag d-block w-75 mx-auto", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "league4.jpeg", class: "image-vb-project-tag d-block w-75 mx-auto", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "league5.jpeg", class: "image-vb-project-tag d-block w-75 mx-auto", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "league6.jpeg", class: "image-vb-project-tag d-block w-75 mx-auto", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "league7.jpeg", class: "image-vb-project-tag d-block w-75 mx-auto", alt:"..." %>
      </div>
    </div>
  </div>
</div>
