<div class="project-card py-4 my-3">
  <div class="d-flex bd-highlight">
    <div class="text-center flex-grow-1 bd-highlight">
      <h4>01. League All</h4>
    </div>
  </div>

  <div id="carouselProjectCard1" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "league4.jpeg", class: "image-la-project-tag d-block w-75 mx-auto", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "league4.jpeg", class: "image-la-project-tag d-block w-75 mx-auto", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "league4.jpeg", class: "image-la-project-tag d-block w-75 mx-auto", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "league5.jpeg", class: "image-la-project-tag d-block w-75  mx-auto", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "league6.jpeg", class: "image-la-project-tag d-block w-75 mx-auto", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "league7.jpeg", class: "image-la-project-tag d-block w-75 mx-auto", alt:"..." %>
      </div>
    </div>
  </div>
</div>
