<div class="project-card py-4 my-3">
  <div class="d-flex bd-highlight">
    <div class="d-inline-flex justify-content-around flex-grow-1 bd-highlight">
      <h1>League-All</h1>
      <%= render partial: "pages/modal_la" %>
    </div>
  </div>

  <div id="carouselProjectCard1" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "1-Homepage-la.jpeg", class: "image-la-project-tag d-block w-75 mx-auto", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "2-Dashboard-la.jpeg", class: "image-la-project-tag d-block w-75 mx-auto", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "3-Team-Dashboard-la.jpeg", class: "image-la-project-tag d-block w-75 mx-auto", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "4-Players-la.jpeg", class: "image-la-project-tag d-block w-75  mx-auto", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "5-Registrations.jpeg", class: "image-la-project-tag d-block w-75 mx-auto", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "6-Group-messages-la.jpeg", class: "image-la-project-tag d-block w-75 mx-auto", alt:"..." %>
      </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselProjectCard1" data-bs-slide="prev">
          <span class="carousel-control-prev-icon " aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselProjectCard1" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
  </div>
</div>
