<div class="project-card">
  <div class="d-flex bd-highlight">
    <div class="p-2 flex-grow-1 bd-highlight">
      <h4>VenueBookr</h4>
    </div>

  </div>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "league1.jpeg", class: "d-block w-100", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "league2.jpeg", class: "d-block w-100", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "league4.jpeg", class: "d-block w-100", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "league5.jpeg", class: "d-block w-100", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "league6.jpeg", class: "d-block w-100", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "league7.jpeg", class: "d-block w-100", alt:"..." %>
      </div>
    </div>
  </div>
</div>
