<div class="project-card py-4 mt-3">
  <div class="d-flex bd-highlight">
    <div class="d-inline-flex justify-content-around flex-grow-1 bd-highlight">
      <h3>02. VenueBookr <button id="vb-btn-project"><%= image_tag "arrow.jpeg", class: "arrow-project", alt:"..." %></button></h3>
    </div>
  </div>

  <div id="carouselProjectCard2" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "1-Homepage-vb.jpeg", class: "image-vb-project-tag d-block w-75 mx-auto", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "2-Homepage-2-vb.jpeg", class: "image-vb-project-tag d-block w-75 mx-auto", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "3-Showpage-vb.jpeg", class: "image-vb-project-tag d-block w-75 mx-auto", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "4-Viewpage-vb.jpeg", class: "image-vb-project-tag d-block w-75 mx-auto", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "5-Booking-vb.png", class: "image-vb-project-tag d-block w-75 mx-auto", alt:"..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "6-Dashboard-vb.jpeg", class: "image-vb-project-tag d-block w-75 mx-auto", alt:"..." %>
      </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselProjectCard2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon " aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselProjectCard2" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
  </div>
</div>
